.App {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url('../images/blart-background-wide.png');
  background-size: cover;
  display: table;
  width: 100vw;
  height: 100vh;
  background-position: center top;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


hr {
  color: #838686;
  border-top: 1px solid #838686;
}

.art-block {
  padding-bottom: 50px;
}

.projects {
  padding-top: 10px;
}

.blart-blue {
  color: #34A4DA;
}

.blue-pill {
  background: #34A4DA;
}

.blart-purple {
  color: #544496;
}

.purple-pill {
  background: #544496;
}

.pill {
  border-radius: 15px;
  width: 50%;
  text-align: center;
  list-style: none;
  color: white;
  margin-bottom: 5px;
}

.today {
  background: #34A4DA;
  color: black;
}

.today_gccsj {
  background: #544496;
  color: black;
}

.word {
  font-size: 10px;
  margin-bottom: -15px;
}

.day,
.word {
  text-align: center;

}

.day {
  font-size: 50px;
  vertical-align: middle;
  /* margin-top: 30px; */
}

.blart-header {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 0.5em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.blart-title {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  /* letter-spacing: 0.025em; */
}

.blart-background {
  width: 100%;
}

.img-container {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url('../images/blart-background-wide.png');
  background-size: cover;
  display: table;
  width: 100vw;
  height: 100vh;
  background-position: center top;
}

ul {
  list-style: disc;
}

li {
  font-size: 26px;
  padding: 3px 0;

}