code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: #212121;
  /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #838686;
  font-size: 2em;
  /* margin: 10px; */
}

hr {
  color: #838686;
  border-top: 1px solid #838686;
}

.art-block {
  padding-bottom: 100px;
}

.projects {
  padding-top: 10px;
}

.blart-blue {
  color: #34A4DA;
}

.blue-pill {
  background: #34A4DA;
}

.blart-purple {
  color: #544496;
}

.purple-pill {
  background: #544496;
}

.pill {
  border-radius: 15px;
  width: 50%;
  text-align: center;
  list-style: none;
  color: white;
  margin-bottom: 5px;
}

.today {
  background: #34A4DA;
  color: black;
}

.today_gccsj {
  background: #544496;
  color: black;
}

.word {
  font-size: 10px;
  margin-bottom: -15px;
}

.day,
.word {
  text-align: center;

}

.day {
  font-size: 50px;
  vertical-align: middle;
  /* margin-top: 30px; */
}

.blart-header {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 0.5em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.blart-title {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  /* letter-spacing: 0.025em; */
}

.blart-background {
  width: 100%;
}

.img-container {
  /* filter: brightness(25%); */
  /* background-image: url('./blart-background.png'); */
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url('./blart-background-wide.png');
  background-size: cover;
  /* min-height: 100vh; */

  display: table;
  width: 100%;
  /* height: 100%; */
  background-position: center top;
  /* height: 350px; */
}

ul {
  list-style: disc;
}

li {
  font-size: 22px;
  padding: 3px 0;

}